<h3>Portfolio</h3>
<div>
  <div *ngFor="let portfolio of portfolioList">
    <div class="row">
      <div class="col">
        <div class="card mb-3" style="max-width: 80rem;">
          <div class="card-header">
            <h4> {{ portfolio.projectName }} </h4>
          </div>
          <div class="card-body">
            <div>Status : {{ portfolio.projectStatus }} </div>
            <div>
              <p> {{ portfolio.description }} </p>
            </div>
            <div>
              <div class="row">
                <div *ngFor="let item of portfolio.skills">
                  <h3><span class="badge bg-primary"> {{ item }} </span></h3>
                </div>
              </div>
            </div>
            <div>
              <p>Check my code ! {{ portfolio.githubLink }} </p>
            </div>
          </div>
        </div>
        <div class="row mb-3"></div>
      </div>
    </div>
  </div>
</div>
