<div class="container-sm">
  <div class="row">
    <h1>About me</h1>
    <hr class="hr" />
  </div>
  <div class="row">
    <div class='row mb-5'></div>
    <div class="col text-center">
      <h2>Hey! I'm Noé Maechler a Software Engineer</h2>
      <div class="description">
        <div class='row mb-5'></div>
        <p>
          I'm 25 years old and have the Luxembourg and French citizenship.
        </p>
        <p>
          Since 2 years, I've been working for the consulting company Infotel in Toulouse - France as a Software Engineer.
          As a consultant, i've worked in large scale companies such the french bank BPCE and the airline companies AirFrance and KLM.
        </p>
        <p>
          I've graduate from the french engineering school ECAM Strasbourg-europe/Lyon with a major in the industrial informatics systems management
        </p>
        <p>
          I'm always open to new challenges and international opportunities.
        </p>
      </div>
    </div>
    <div class="col align-self-center">
      <img src="assets/profil/photo-profil-link.jpg"
        class="img-thumbnail img-fluid"
        alt="photo-profil-nono"
      >
    </div>
  </div>
  <div class="row">
    <div class="col align-self-center">
      <h5>Location</h5>
      <hr class="hr" />
      <p><i class="bi bi-geo-alt-fill"></i> | Toulouse - France</p>
      <h5>Conctact me</h5>
      <hr class="hr" />
      <p><i class="bi bi-envelope"></i> | nonomaechler@gmail.com</p>
      <p><i class="bi bi-telephone-fill"></i> | +33612082084</p>
    </div>
  </div>
  <div class="row mb-3"></div>
  <div class="row">
    <h5>Social Media</h5>
    <hr class="hr" />
    <div class="col text-center">
      <h2>My LinkedIn | <a href="www.linkedin.com/in/noé-maechler-754a56171"><i class="bi bi-linkedin"></i></a></h2>
    </div>
    <div class="col align-self-center">
      <h2>My Github | <a href="https://github.com/Nonolabiscotte"><i class="bi bi-github"></i></a></h2>
    </div>
  </div>
  <div class='row mb-5'></div>
  <div class='row mb-5'></div>
  <div class='row mb-5'></div>
  <div class='row mb-5'></div>
</div>
