.app-content {
  background-color: #86BBD8;
  margin: 0; /* Remove any default margin to fill the entire viewport */
  padding: 0; /* Remove any default padding */

}

.app-header {
  background-color: #336699;
  margin: 0; /* Remove any default margin to fill the entire viewport */
  padding: 0; /* Remove any default padding */
}

.app-footer {
  background-color: #336699;
  margin: 0; /* Remove any default margin to fill the entire viewport */
  padding: 0; /* Remove any default padding */
}

html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-size: large;
  overflow: hidden; /* Prevent scrollbars on the body */
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  flex: 1;
}

// toutes les couleurs : #CED0CE #9FB8AD #475841 #3F403F
